
@using SchoolsNearMe.Extensions
@model SchoolsNearMe.Models.School
@if (!string.IsNullOrWhiteSpace(Model.Website))
{
    <a target="_blank" href="@Model.Website">
    <p>
        <b>@Model.SchoolName</b></p>
        </a>
}
else
{ 
    <p><b>@Model.SchoolName</b></p>
}
<p>@Html.Raw(Html.SimpleLink(string.Format("http://www.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{0}/", @Model.Id), "Ofsted page"))</p>
<p>@Model.PostCode</p>
<p>
    Type of establishment: @Model.TypeOfEstablishment.GetDescription()</p>
<p>
    Overall effectiveness: @Model.OfstedRating.OverallEffectiveness</p>
