<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr") 
        @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/chosen")
        @Scripts.Render("~/bundles/jqueryui")
        <script type="text/javascript" src="../../Scripts/Coordinates/MapHelper.js"></script>
        <script type="text/javascript" src="../../Scripts/json2.min.js"></script>
        <link href="@Url.Content("~/Content/bootstrap/less/bootstrap.less")" rel="Stylesheet" />
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15335126-2']);
            _gaq.push(['_setDomainName', 'schoolsnearme.co.uk']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                                     class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><a class="brand" href="#">Schools Near Me</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("Home","Index","Home")</li>
                            <li>@Html.ActionLink("About","Index","About")</li>
                            <li>@Html.ActionLink("Contact","Index","Contact")</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div id="headSpacer"></div>
        @RenderBody() 
        @RenderSection("scripts", required: false)
        <script type="text/javascript" src="../../Scripts/PageScripts/layout.js">
   
    </script>
    </body>
</html>
